*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(4, 22, 48);
    
}

/* *** HEADER *** */
header{
    height: 100px;
    font-family: 'Khula', sans-serif;
    font-weight: 800;
    position: relative;
    background: linear-gradient(180deg, rgba(96,213,129,0.09845945214023111) 0%, rgba(4,22,48,1) 64%); 
}

.logo, .title{
    margin-left: 20px;
}

.title{
    height: 100px;
    line-height: 100px;
    color: rgb(96, 213, 129) ;
    font-size: 30px;
    text-align: center;
}
.logo{
    position: absolute;
    left: 0px;
    top: 0%;
    transform: translate(0, 50%);
}

/* *** MAIN *** */
main{
    margin-top: 20px;
    font-family: 'Khula', sans-serif;
}

.add{
    font-size: 20px;
    font-weight: 400;
    border: 2px solid rgb(96, 213, 129);
    color: rgb(96, 213, 129);
}
.add i {
    width: 7%;
    font-family: 'Khula', sans-serif;
}

.add input{
    width: 95%;
    height: 30px;
    border-radius: 1rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 29px;
    background-color: rgb(4, 22, 48);
    border: none;
    color:rgb(96, 213, 129);
    
}

.add:hover{
    transition: 1s;
    color:rgb(4, 22, 48);
    background-color: rgb(96, 213, 129);
    cursor:pointer;
}

.todo, .add {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 60px;
    border-radius: 1rem;
    margin: 5px auto;
    padding: 1rem;
}

.todo{
    border: 2px solid rgb(41, 110, 241);
    font-size: 18px;
    color: rgb(41, 110, 241);
    font-weight: 300;
}

.todo:hover{
    transition: 1s;
    background-color: rgb(41, 110, 241);
    color: white;
}

.text {
    width: 90%;
}

.check, .delete{
    width: 5%;
    cursor: pointer;
}

.lineOn{
    text-decoration: line-through 2px;
}
