*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(4, 22, 48);
    font-family: 'Khula', sans-serif;
}

/* *** HEADER *** */
header{
    height: 100px;
    display: flex;
    align-items: center;
}


.logo, .title{
    margin-left: 20px;
}

.title{
    color: rgb(96, 213, 129) ;
    font-size: 30px;
}

/* *** MAIN *** */

main{
    margin-top: 20px;
}




.add{
    font-size: 20px;
    font-weight: 400;
    border: 2px solid rgb(96, 213, 129);
    color: rgb(96, 213, 129);
}
.add i {
    width: 7%;
    font-family: 'Khula', sans-serif;
}

.add input{
    width: 95%;
    height: 40px;
    border-radius: 1rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 29px;
    background-color: rgb(4, 22, 48);
    border: none;
    color:rgb(96, 213, 129);
}

.add:hover{
    transition: 1s;
    color:rgb(4, 22, 48);
    background-color: rgb(96, 213, 129);
    cursor:pointer;
}



.todo, .add {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 60px;
    border-radius: 1rem;
    margin: 5px auto;
    padding: 1rem;
}

.todo{
    background-color: rgb(41, 110, 241);
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.text {
    width: 90%;
    cursor: pointer;
}

.check, .delete{
    width: 5%;
    cursor: pointer;
}

.lineOn{
    text-decoration: line-through 2px;
}


.deactive{
    display: none;
}